body .page_header h1 {
    font-size: 2.8em;
    padding: 5px 5px 8px;
    margin: 20px 0 10px;
}

.article-content ul ul{
    list-style-image: url('../img/dash.png');
}

.article-content ul ul ul{
    list-style-image: url('../img/tilde.png');
}

.article-content ul ul li{
    margin-left: 0;
}

.article-content cite {
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #aaa;
    border-radius: 4px;
    line-height: 1.7em;
    margin: 0;
    padding: 0 3px 1px;
    vertical-align: baseline;
    white-space: nowrap;
    font-family: Segoe UI;
    font-size: 14px;
}

.article-content .label {
    background: none;
    text-shadow: none;
}

aside {
    margin-top: 10px;
}

.align-right {
    float: right;
}

.article-content p.caption {
    margin-top: 0;
}

body article p a, body article ol a { 
border-bottom: 1px dashed black;
color: black;
}

